:root {

    --background: #fcfcfc;
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
  

    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
  
    --fire: #ff6d00;
    --electric: #64d3ff;
  }


  

* {  
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}


body {
 font-family: cursive;
 background: #11998e;  
background: -webkit-linear-gradient(to right, #38ef7d, #11998e); 
background: linear-gradient(to right, #38ef7d, #11998e); 

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
    background-color: var(--secondary);
    
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

p {
    text-align: center;
}

ul a {
    color: whitesmoke;
    text-decoration: none;
}



.logo{
height: 30%;
width: 40px;
border-radius: 20px;
}




img src {
    min-height:200px;
    min-width:200px;
    height:auto;
    width:auto;
    max-height:100%;
    max-width:100%;
  }


main {
flex-direction: column;
align-items: center;
align-content: center;
justify-content: center;
color: var(--text-white);
width: 100%;
}





/* HERO SECTION */
#hero {
    margin-top: 50px;
    padding: 50px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }
  
  .hero-info h1 {
    font-size: 48px;
    width: 80%;
    font-weight: 800;
    color: #272d37;
  }
  
  .hero-info p {
    font-size: 20px;
    width: 70%;
    color: black
  }
  
  .hero-info p > span {
    font-weight: 600;
  }
  

.botones {
  display: flex;
  box-shadow: var(--secondary);
}


.hero-info a {
  padding: 10px 20px;
  background-color: var(--secondary);
  color: var(--text-white);
  text-decoration: none;
  margin-right: 10px;
  border-radius: 10px;
  margin: 20px;
}

.hero-info a:last-child {
  margin-right: 0;
  box-shadow: var(--secondary);
  background-color: var(--background);
  color: var(--secondary);
  border: 1px solid #000;
  margin: 20px;
}




 
.hero-img {
  width: 300px;
  background-color: var(--secondary);
  padding: 15px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-img img {
  border-radius: 15px;
}


#info{
  margin-top: 50px;
  padding: 50px 0;
  max-width: 1200px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  background-color: #272d37;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 85%;
  padding: 1rem;
}


.info-text p {
  font-size: 14px;
  width: 70%;
  color: white;
  align-items: center;
}


